@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 10px;
    background: url("/static/img/bg.svg") no-repeat center, linear-gradient(135deg, #ecfffd, #ff9d7e 60%, #ff6868);
}

#logo {
    height: 64px;
}

#siteName {
    text-decoration: none;
    font-size: 3em;
    color: #b40500;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 89px);
}

.flex-child {
    flex-grow: 1;
}


p {
    width: 80vw;
    text-align: center;
}


h1, h2, h3 {
    color: #a54946;
    font-size: 4em;
}

h2, h3 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
    background-color: #a54946;
    border: #b34f4c solid 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

ul {
    list-style: none;
}

button {
    text-decoration: none;
    background-color: #a56645;
    border: #b33e53 solid 1px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    margin: 1vw;
    height: 5vh;
    width: 90vw;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #a54946;
}

.submit {
    height: 5vh;
    text-decoration: none;
    background-color: #a54946;
    border: #b34f4c solid 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 45vw;
}


.form_button {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}


.secondary_button {

    margin: 1vw;
    height: 5vh;
    text-decoration: none;
    background-color: #eb8b84;
    border: #b34f4c solid 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 45vw;
    text-align: center;
    text-overflow: clip;

}


.display {
    overflow: scroll;
    max-height: 400px;
    width: 70vw;

}

.message {
    border: solid 2px #a54946;
    margin-top: 20px;
    padding: 5px;
    color: #a54946;

}

.in {
    margin-right: 6vw;
    border-radius: 0 8px 8px 8px;
}

.out {
    margin-left: 6vw;
    border-radius: 8px 8px 0 8px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/






















@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

body {
    background: #e8e8e8 no-repeat center;
    margin-left: 10px;
    margin-right: 10px;

}


#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    text-decoration: none;
    width: auto;
    padding: 0;
    margin-top: 0;
    border: none;
}

#logo > img {
    height: 64px;
}

#splash {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/static/img/bg.svg") no-repeat center;
}

#content {
    height: 100vh;
    max-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.v_split {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    max-width: 900px;
    margin-top: 80px;


}

.log_in, .get_started {
    display: inline-block;
    width: 25vw;

}

#arrow > *, #arrow {
    border: none;
    text-decoration: none;
    padding: 0;
    border-radius: 0;
    margin-top: 30vh;
    font-size: 50px;
}

a, .submit {
    border: solid 1px #8e8e8e;
    width: 25vw;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 80px;
}

.submit {
    margin-top: 0;
}


h3 {
    margin-top: 25px;
}

p {
    margin-top: 15px;
    max-width: 650px;
}

#get_started {
    height: 100vh;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

footer {
    height: 100vh;
    max-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.link {
    border: none;
    width: auto;
    text-decoration: underline;
    padding: 0;
    border-radius: 0;
    margin-top: 0;
}

#avatar {
    width: 300px;
    margin-top: 50px;
}

.form {
    margin-top: 30px;
    border: solid 1px #8e8e8e;
    border-radius: 4px;
    height: 75vh;
    width: 85vw;
    max-width: 730px;

}

.form_header {
    background-color: #b1b1b1;
    height: 5vh;
}

.form_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.form_title {
    margin-top: 0;
}

input {
    width: 80vw;
    max-width: 700px;
    height: 10vh;

    border: none;
    border-radius: 50px;

}


