<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="icon" href="{{ url_for('static',filename='img/logo.svg' ) }}">
    <link href="{{ url_for('static',filename='css/errors.css' ) }}" rel="stylesheet">


    <title>Under Construct</title>
</head>
<body>


<article>
    <h1>We&rsquo;ll be back soon!</h1>
    <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you can
        always <a href="mailto:contact@aranea.me">contact us</a>, otherwise we&rsquo;ll be back online shortly!</p>
    <p>&mdash; Aranea Team</p>
    <a href="/">Retour</a>
</article>


</body>
</html>