{# -------------------------------------------------------------------------
HEAD ---------------------------------------------------------------------------
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0,maximum-scale=2.0,user-scalable=yes" name="viewport"/>
    <meta content="A New Social Network. ARANEA" name="description"/>

    <script src="https://kit.fontawesome.com/da7397688c.js" crossorigin="anonymous"></script>

    <link href="{{ url_for('static',filename='img/logo.svg' ) }}" rel="icon"/>
    <link
            href="{{ url_for('static',filename='css/wellcome.css' ) }}"
            rel="stylesheet"
    />

    <title>&ndash; Wellcome &ndash;</title>
</head>
<body>
{# -------------------------------------- HEADER
    --------------------------------------------- #}

<header>
    <a href="/" id="logo">
        <img src="../static/img/logo.svg" alt="logo"/>
        <h1>AraneA</h1>
    </a>

</header>


<div id="splash">

    <h2>Welcome to Aranea Alpha</h2>

    <div class="v_split">
        <div class="get_started">
            <a href="#get_started">Get In</a>
        </div>
        <div class="log_in">
            <a href="/SignIn/">Log In</a>
        </div>
    </div>

    <span id="arrow"><a href="#content"><i class="fas fa-chevron-down"></i></a></span>


</div>


{# -------------------------------------- CONTENT
    --------------------------------------------- #}

<div id="content">
    <h3>What is Aranea ?</h3>

    <p>I had the idea one day while it was raining.
        Make a web site where strange can meet and chat based of their mood !
        Like that, someone sad can meet another one happy, and feel better !
    </p>
    <p> ^~^ That's the Idea !</p>

    <h3>How it work ?</h3>

    <p> Aranea is a social website created for meet stranger based on
        your mood.

        Aranea will ask you a form within 3 questions, and based on your result, we will put
        you in contact with another user around the earth.</p>


    <h3>Alpha ?</h3>
    <p> Now, i tried to make it, but i'm a student and i'm coding on my free time, then the site dont work properly for
        now ! But i will try to improve it ! ^x^</p>
</div>


<div id="get_started">
    <h3>Interrested ?</h3>

    <p>It’s completly Free ! Sign Up now ! </p>

    <div class="form">
        <div class="form_header">
            <h3 class="form_title">Register</h3>

        </div>

        <form class="form_body" method="post" action="/register/">

            <input type="text" name="username" placeholder="username">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="password-check" placeholder="password-check">
            <input class="submit" type="submit" name="register" value="Register !">

        </form>


    </div>


</div>


<footer>
    <h3>Who am I ?</h3>
    <img id="avatar" src="{{ url_for('static',filename='img/moi.png' ) }}" alt="Breval Le FLoch">
    <p>I'm Bréval Le Floch</p>
    <p>I'm a frensh I.T student</p>
    <p>I'm devloping this site on my free time, using <a class="link" href="https://flask.palletsprojects.com">Flask</a>
        and <a href="https://mariadb.org/" class="link">MariaDB</a>. This is a personal project.</p>
    <a href="/about">More about me</a>


</footer>


{# -------------------------------------- FOOTER
    --------------------------------------------- #} {#
    -------------------------------------- END
    --------------------------------------------- #}
</body>
</html>


