{% extends "public/pub-base.html" %}
{% block title %}Wellcome{% endblock %}
{% block content %}

<div>
    <div id="content">
        <h2>Wellcome to Aranea</h2>
        <h3>What is Aranea ?</h3>
        <p>Aranea is a social website created for encouter stranger based on
            your mood.</p>
        <h3>How it work ?</h3>
        <p>Aranea will ask you a form within 3 questions, and based on your result, we will put
            you in contact with another user around the earth.</p>
        <h3>Interrested ?</h3>
        <p>It’s completly Free ! Sign Up now ! </p>
        
        <a href="/register">Get Started</a>
    </div>
</div>

{% endblock %}




