{% extends "private/pub-base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

    <div>
        <div id="content">
            <h2> Liste des Contact :</h2>
            <ul>
                {% for rel in RelationList %}
                    {% for usr in UserList %}
                        {% if rel.user1_id == usr.id_user or rel.user2_id == usr.id_user %}
                            <li>
                                <form action="{{ url_for('message',_anchor='down') }}" method="post">
                                    <input type="hidden" name="rel_id" value="{{ rel.id_relation }}">
                                    <button type="submit" name="btn">{{ usr.username }}</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
            <a href="/home">Retour</a>
        </div>
    </div>

{% endblock %}


