{% extends "private/pub-base.html" %}
{% block title %}Messages{% endblock %}
{% block content %}

    <div>
        <div id="content">

            <h2>Messages</h2>

            {#-------------------------------------------------------#}


            <div class="display">Message ici :
                <ul>
                    {% for message in messages %}
                        <li>
                            {% if message.from_id != id %}
                                <div class="in message"> {{ message.content }} </div>
                            {% elif message.from_id == id %}
                                <div class="out message"> {{ message.content }} </div>
                            {% endif %}

                        </li>
                    {% endfor %}
                    <span id="down"></span>
                </ul>


            </div>

            {#--------------------------------------------------------#}


            <div class="input">
                <form method="post">
                    <input type="text" name="text" placeholder="type here" autofocus>
                    <button type="submit" name="btn" value="send">send</button>
                </form>
            </div>
            <a href="/conv">Retour</a>
            {#--------------------------------------------------------#}

        </div>
    </div>

{% endblock %}

