{% extends "private/pub-base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

    <div>
        <div id="content">
            <h2> {{ session["username"] }} </h2>

            <p>Photo : {{ session["photo"] }} </p>
            <p>Username : </p>
            <p>Description : {{ session["description"] }}</p>
            <p>Score : {{ session["score"] }}</p>
            <p>Mood : {{ session["mood"] }}</p>
            <p>Age : {{ session["age"] }}</p>
            <p>Email : {{ session["email"] }}</p>


            {#            session["auth"] = True#}

            <a href="/profileUpdate">Update</a>
            <a href="/home">Back</a>
            <a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>

{% endblock %}


